{% load static %}

<!DOCTYPE html>
<html lang="es-ES" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ojoalplato</title>

    <meta name="description" content="Ojo al plato"/>
    <meta name="robots" content="noodp"/>
    <meta property="og:locale" content="es_ES"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Ojo al plato"/>
    <meta property="og:description" content="Ojo al plato"/>
    <meta property="og:url" content="/"/>
    <meta property="og:site_name" content="Ojo al plato"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Ojo al plato"/>
    <meta name="twitter:title" content="Ojo al plato"/>


    {% block css %}
    <link rel='stylesheet' id='bootstrap-css'
          href='{% static "wpfamily/css/bootstrap.min46df.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='lato-css'
          href='https://fonts.googleapis.com/css?family=Lato%3A900%2C700%2C400%2C400italic%2C700italic&amp;ver=4.5.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='wp-family-blog-style-css' href='{% static "wpfamily/style4b68.css" %}'
          type='text/css' media='all'/>
    <script type='text/javascript' src='{% static "wpfamily/js/jquery/jqueryb8ff.js" %}'></script>
    <script type='text/javascript' src='{% static "wpfamily/js/jquery/jquery-migrate.min330a.js" %}'></script>
    {% endblock css %}

</head>


<body class="home blog hfeed topnav warm header-blur primary-bright has-family">
<div class="wrapper">
    <div id="page" class="site clearfix">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>


        {% block navbar %}
        <nav id="site-navigation" class="site-navigation clearfix" role="navigation">
            <button type="button" class="navbar-toggle collapsed">
                <span class="navbar-toggle-label">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="primary-menu-area">
                <div class="menu-main-menu-container">
                    <ul id="primary-menu" class="menu">
                        <li id="menu-item-32"
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-32">
                            <a href="index.html">Inicio</a></li>
                        <li id="menu-item-30"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a
                                href="category/family-time/index.html">Contacto</a></li>
                        <li id="menu-item-29"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a
                                href="category/adventures/index.html">Suscribirse</a></li>
                        <li id="menu-item-31"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"><a
                                href="category/friends/index.html">Curso de cata de vinos</a></li>
                        <li id="menu-item-104"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-104"><a
                                href="category/recipes/index.html">Comida del millón</a></li>
                        <!--li id="menu-item-116"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-116"><a
                                href="category/projects/index.html">Projects</a></li-->
                    </ul>
                </div>
            </div><!-- .collapse -->
        </nav><!-- #site-navigation -->
        {% endblock navbar %}


        <div id="site-content" class="site-content">

            <header id="site-header" class="site-header" role="banner">
                <div class="background-area">
                    <div class="background"
                         style="background-image:url('{% static "wpfamily/img/dsc_0020.jpg" %}')"></div>
                </div><!-- .background-area -->
                <div class="site-branding">
                    <div class="site-title">
                        <!--a href="index.html" rel="home">Ojo al plato</a-->
                        <img src="{% static 'wpfamily/img/logo_white.png' %}" height="200px">
                    </div>
                </div><!-- .site-branding -->

                <ul class="family-list">
                    <li><a href="family-members/ryan/index.html">
                        <div class="circle"
                             style="background-image:url({% static 'wpfamily/img/restaurant.jpg' %})"></div>
                        <div class="name">Restaurantes</div>
                    </a></li>
                    <li><a href="family-members/alyssa/index.html">
                        <div class="circle"
                             style="background-image:url({% static 'wpfamily/img/wine.jpg' %})"></div>
                        <div class="name">Vinos</div>
                    </a></li>
                    <li><a href="family-members/maddie/index.html">
                        <div class="circle"
                             style="background-image:url({% static 'wpfamily/img/recipe.jpg' %})"></div>
                        <div class="name">Recetas</div>
                    </a></li>
                    <li><a href="family-members/brayden/index.html">
                        <div class="circle"
                             style="background-image:url({% static 'wpfamily/img/cigars.jpg' %})"></div>
                        <div class="name">Cigarros</div>
                    </a></li>
                    <li style="position: absolute"><a href="family-members/brayden/index.html">
                        <div class="circle"
                             style="background-image:url({% static 'wpfamily/img/mapa.png' %})"></div>
                        <div class="name">Mapa de <br/>Restaurantes</div>
                    </a></li>
                </ul><!-- .family-list -->
            </header><!-- #site-header -->

            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">

                {% block content %}{% endblock content %}

                </main><!-- #main -->
            </div><!-- #primary -->


        </div><!-- #content -->

    </div><!-- #page -->

    <div class="push"></div>

</div><!-- .wrapper -->

{% block footer %}
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        &copy; Copyright 2016. Proudly powered by <a href="http://wordpress.org/">WordPress</a> and <a
            href="http://familywp.com/">WP Family Blog</a></div><!-- .site-info -->
</footer><!-- #colophon -->
{% endblock footer %}

{% block javascript %}
<script type='text/javascript' src='{% static "wpfamily/js/bootstrap.mine485.js" %}'></script>
<script type='text/javascript'
        src='{% static "wpfamily/js/skip-link-focus-fix08e0.js" %}'></script>
<script type='text/javascript' src='{% static "wpfamily/js/jquery.colorbox-min905d.js" %}'></script>
<script type='text/javascript' src='{% static "wpfamily/js/jquery.fitvids4963.js" %}'></script>
<script type='text/javascript' src='{% static "wpfamily/js/wp-family-blog4b68.js" %}'></script>
<script type='text/javascript'
        src='{% static "wpfamily/js/jquery.infinitescroll.min3c94.js" %}'></script>
<script>
    var infinite_scroll = {
        loading: {
            img: "http://familywp.com/topbardemo/wp-content/themes/wp-family-blog/img/loading-spin.svg",
            msgText: "Loading the next set of posts...",
            finishedMsg: "All posts loaded."
        },
        "nextSelector": ".nav-links .nav-previous a",
        "navSelector": ".posts-navigation",
        "itemSelector": ".hentry",
        "contentSelector": "#main"
    };
    jQuery(infinite_scroll.contentSelector).infinitescroll(infinite_scroll);
    jQuery(".posts-navigation").css("visibility", "hidden");
</script>
{% endblock javascript %}

</body>

</html>
