{% extends "blog/wpfamily/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block css %}
    {{ block.super }}
    {% leaflet_css %}
    <link href="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
    <style>

        .leaflet-container { /* all maps */
            width: 100%;
            height: 500px;
            position: relative;
            background-color: white;
            overflow: hidden;
        }

        .content-area {
            padding-top: 20px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 20px;
        }

        .has-family .content-area {
            padding-top: 160px;
        }

    </style>

{% endblock css %}

{% block javascript %}
    {{ block.super }}
    {% leaflet_js %}
    <script src="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.js' %}"
            type="text/javascript"></script>
    <script type="text/javascript">
        var restIcon = L.AwesomeMarkers.icon({
            icon: 'cutlery',
            markerColor: 'blue'
        });
        window.addEventListener("map:init", function (e) {
            var detail = e.detail;
            detail.map.scrollWheelZoom.disable();
            {% for rest in object_list %}
                L.marker({{ rest.get_position_wgs84 }}, {icon: restIcon}).addTo(detail.map)
                        .bindPopup("<b>{{ rest.name }}</b> <br>\{% for post in rest.posts.all %}
                <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a><br>\{% endfor %}
                ");
            {% endfor %}
            // create a fullscreen button and add it to the map
            L.control.fullscreen({
                position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, defaut topleft
                title: 'Pantalla completa', // change the title of the button, default Full Screen
                titleCancel: 'Salir de pantalla completa', // change the title of the button when fullscreen is on, default Exit Full Screen
                content: null, // change the content of the button, can be HTML, default null
                forceSeparateButton: false, // force seperate button to detach from zoom buttons, default false
                forcePseudoFullscreen: true, // force use of pseudo full screen even if full screen API is available, default false
                fullscreenElement: false // Dom element to render in full screen, false by default, fallback to map._container
            }).addTo(detail.map);
        }, false);
    </script>
{% endblock javascript %}

{% block content %}
    <!--div id="map" style="position: relative; background-color: white; overflow: hidden; height: 300px; width: 100%;"></div-->
    {% leaflet_map "map" %}

        <h2>Buscar restaurantes</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Buscar">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Resultados:</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No se han encontrado resultados.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock content %}
