{% extends "blog/wpfamily/base.html" %}
{% load static %}
{% load content_filters %}
{% load pagination %}
{% load fb_like %}


{% block content %}
    {% for post in object_list %}
        <article id="post-{{ post.id }}"
                 class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-friends family_blog_memberscat-maddie">

            <!--div class="family-icon">

            </div-->
            <div class="featured-image"
                 {% if post.image_header %}
                 style="background-image:url('{{ post.image_header.url|relative_url }}');"
                 {% else %}
                 style="background-image:url('{{ post.content|first_img }}'); background-position: center top;"
                 {% endif %}
            >
                <a href="{{ post.get_absolute_url }}"><img
                        src="{% static 'wpfamily/img/post-header-trans.png' %}" alt=""></a>
            </div>


            <div class="article-padding has-family-list">

                <ul class="family-list">
                    {% if post.category %}
                        <li><a href="{% url 'category-list' post.category.slug %}">
                            <div class="circle"
                                 style="background-image:url(
                                 {% if post.category.thumbnail.name != "" %}
                                         {{ post.category.thumbnail_url }});">
                                 {% else %}
                                    {% static 'wpfamily/img/uncategorized.gif' %});">
                                 {% endif %}
                            </div>
                        </a></li>
                    {% else %}
                        <li>
                            <div class="circle"
                                 style="background-image:url(
                                         {% static 'wpfamily/img/uncategorized.gif' %});">
                            </div>
                        </li>
                    {% endif %}
                </ul><!-- .family-list -->
                <header class="entry-header">
                    <h2 class="entry-title"><a href="{{ post.get_absolute_url }}"
                                               rel="bookmark">{{ post.title }}</a></h2>
                    <div class="meta"><span class="posted-on"><time class="entry-date published"
                                            datetime="2016-01-22T04:13:54+00:00">{{ post.post_date|date:"j \\d\\e F \\d\\e Y" }}</time><time
                        class="updated"
                        datetime="2016-02-13T15:37:18+00:00">{{ post.post_date }}</time>
                    por <a class="author" href="{% url 'author-list' post.author.username %}">
                            {{ post.author.name }}</a></span>
                    {% if user.is_superuser or user.is_staff%}
                        &nbsp;&nbsp;<a href="{% url 'admin:blog_post_change' post.id %}" type="button" class="btn btn-default btn-xs btn-edit">Editar</a>
                    {% endif %}
                    </div>

                    {% for tag in post.tags.all %}
                        <a href="{% url 'tag-list' tag.slug %}" class="badge">{{ tag.name }}</a>
                    {% endfor %}
                </header><!-- .entry-header -->

                <div class="entry-content">
                    {{ post.content | truncatewords_html:50 | lightbox | safe }}
                </div><!-- .entry-content -->

                <div class="fb-lile-btn">
                {% facebook_js %}{% fb_like_button post %}
                </div>

            </div><!-- .article-padding -->

            <footer class="entry-footer">
                <div class="entry-meta">
                    {% if post.category%}
                        <span class="cat-links">Publicado en <a href="{% url 'category-list' post.category.slug %}"
                                                                rel="category tag">{{ post.category.name }}</a>
                        </span>
                    {% endif %}
                    <span class="comments-link">
                    <a href="{{ post.get_absolute_url }}#comments">
                        <span class="disqus-comment-count"
                              data-disqus-identifier="{{ post.id }} http://www.ojoalplato.com/?p={{ post.id }}"
                              data-disqus-url="http://nuevo.ojoalplato.com/archivos/{{ post.id }}">
                            Dejar un comentario
                        </span>
                    </a>
                    </span>

                    <span class="tags-links"><a
                            href="{{ post.get_absolute_url }}">{{ post.views }} visitas</a></span>
                </div><!-- .entry-meta -->
                <a href="{{ post.get_absolute_url }}"
                   class="read-more-button btn btn-primary">Leer más</a>
            </footer><!-- .entry-footer -->
        </article><!-- #post-## -->

    {% endfor %}

    <script id="dsq-count-scr" src="//ojoalplato.disqus.com/count.js" async></script>

{% endblock content %}

{% block paginator %}
    {% pagination page_obj %}
{% endblock paginator %}
