{% extends "blog/wpfamily/base.html" %}
{% load static %}
{% load content_filters %}
{% load disqus_tags %}
{% load pagination %}


{% block content %}
    {% for post in object_list %}
        <article id="post-1"
                 class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-friends family_blog_memberscat-maddie">

            <!--div class="family-icon">

            </div-->
            <div class="featured-image"
                 style="background-image:url('{{ post.content|first_img }}'); background-position: center top;">
                <a href="{% url 'post-detail' slug=post.slug %}"><img
                        src="{% static 'wpfamily/img/post-header-trans.png' %}" alt=""></a>
            </div>


            <div class="article-padding has-family-list">

                <ul class="family-list">
                    {% if post.categories.0.name %}
                    <li><a href="{% url 'category-list' post.categories.0.slug %}">
                        <div class="circle"
                             style="background-image:url(
                                     {% static 'wpfamily/img/' %}{{ post.categories.0.slug | cat_img }});">
                        </div>
                    </a></li>
                    {% else %}
                    <li>
                        <div class="circle"
                             style="background-image:url(
                                     {% static 'wpfamily/img/uncategorized.gif' %});">
                        </div>
                    </li>
                    {% endif %}
                </ul><!-- .family-list -->
                <header class="entry-header">
                    <h2 class="entry-title"><a href="{% url 'post-detail' slug=post.slug %}"
                                               rel="bookmark">{{ post.title }}</a></h2>
                    <div class="meta"><span class="posted-on"><time class="entry-date published"
                                                                    datetime="2016-01-22T04:13:54+00:00">{{ post.post_date }}</time><time
                            class="updated"
                            datetime="2016-02-13T15:37:18+00:00">{{ post.post_date }}</time></span></div>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    {{ post.content | truncatewords_html:50 | lightbox | safe }}
                </div><!-- .entry-content -->

            </div><!-- .article-padding -->

            <footer class="entry-footer">
                <div class="entry-meta">
                    <span class="cat-links">Publicado en <a href="category/friends/index.html"
                                                            rel="category tag">{{ post.categories.0.name }}</a></span>
                    <span class="comments-link">
                    <a href="{% url 'post-detail' slug=post.slug %}#comments">
                        <span class="disqus-comment-count"
                              data-disqus-identifier="{{ post.id }} http://www.ojoalplato.com/?p={{ post.id }}"
                              data-disqus-url="http://nuevo.ojoalplato.com/archivos/{{ post.id }}">
                            Dejar un comentario
                        </span>
                    </a>
                    </span>

                    <span class="tags-links"><a
                            href="{% url 'post-detail' slug=post.slug %}">{{ post.views }} visitas</a></span>
                </div><!-- .entry-meta -->
                <a href="{% url 'post-detail' slug=post.slug %}"
                   class="read-more-button btn btn-primary">Leer más</a>
            </footer><!-- .entry-footer -->
        </article><!-- #post-## -->

    {% endfor %}

    <script id="dsq-count-scr" src="//ojoalplato.disqus.com/count.js" async></script>

{% endblock content %}

{% block paginator %}
    {% pagination page_obj %}
{% endblock paginator %}
