{% extends "blog/wpfamily/base.html" %}
{% load static content_filters disqus card_tags guide_tags signature fb_like leaflet_tags %}

{% block title %}Ojoalplato: {{ guide.title }}{% endblock %}

{% block content %}
    <article id="post-1"
             class="post-1 family_blog_members type-family_blog_members status-publish has-post-thumbnail hentry"
              style="padding-top:0">

        <div class="featured-image"
             style="background-image:url('{{ guide.image.url|media }}');">
        <a href="{{ guide.get_absolute_url }}"><img
                src="{% static 'wpfamily/img/post-header-trans.png' %}" alt=""></a>
        </div>

        <div class="has-family-list">

            <header class="entry-header">
                <h2 class="entry-title"><a href="{{ guide.get_absolute_url }}"
                                           rel="bookmark">{{ guide.title }}</a></h2>
                <div class="meta"><span class="posted-on">
                      {% if user.is_superuser or user.is_staff %}
                          <a href="{% url 'admin:guide_guide_change' guide.id %}" type="button"
                                       class="btn btn-default btn-xs btn-edit">Editar</a>
                    {% endif %}
                </span></div>

            </header><!-- .entry-header -->

            <div class="paragraph-padding">
              <p>{{ guide.introduction }}</p>
            </div>

            <!-- Mapa -->
            <div class="paragraph-padding">
                  {% leaflet_map "map" %}
            </div>
            <!-- fin de mapa -->

            <div class="paragraph-padding">
            <h3 id="indice">Índice de restaurantes</h3>
            <table>
              {% for restaurant in guide.restaurants.all %}
                <tr><td><a href="#{{ restaurant.slug }}">{{ restaurant.name }}</a></td></tr>
              {% endfor %}
            {% if guide.restaurants.all.count|divisibleby:2 %}
                <tr><td>&nbsp;</td></tr>
            {% endif %}
            </table>
            </div>

            {% for restaurant in guide.restaurants.all %}
            <div class="entry-content">
                {% guide_render_restaurant_full restaurant %}
            </div><!-- .entry-content -->
              <div style="margin-left:60px; margin-right:60px; border-bottom:1px solid #ccc; margin-bottom:20px;">
              <a href="#indice"><i class="fa-solid fa-circle-arrow-up" style="color: chocolate;"></i></a>
              </div>
            {% endfor %}

            {%  signature guide %}

            <div class="fb-lile-btn">
                {% facebook_js %}{% fb_like_button post %}
            </div>


        </div><!-- .article-padding -->
    </article>

    <div id="comments" class="comments-area">

        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Dejar un comentario</h3>

            {% disqus_comments card card.get_absolute_url %}
        </div>

    </div><!-- #comments -->
{% endblock content %}


{% block javascript %}
    {{ block.super }}

  {% leaflet_js %}
<script>
gencard = function (name, image, url) {
  let html = '<div class="card" style="width: 12rem;">'
  html += '<img class="card-img-top" src="' + image + '" alt="Restaurant featured image">'
  html += '<div class="card-body">'
  html += '<h5 class="card-title">'
  html += "<a href='" + url + "'><b style='color:chocolate; text-decoration: none'>" + name + "</b></a></h5></div></div>"

  return html
}

window.addEventListener("map:init", function (e) {
            detail = e.detail;

            const coordenadas = [
              {% for rest in guide.restaurants.all %}
                { lat: {{ rest.get_position_wgs84.1 |floatformat:"-18"|parse_float_to_str }},
                  lng: {{ rest.get_position_wgs84.0 |floatformat:"-18"|parse_float_to_str }} },
              {% endfor %}
            ];

            // Calcula el centro de las coordenadas
            let latSum = 0;
            let lngSum = 0;
            var restIcon = L.AwesomeMarkers.icon({
              icon: 'cutlery',
              markerColor: 'orange'
            });
            for (const coord of coordenadas) {
                latSum += coord.lat;
                lngSum += coord.lng;
            }
            const centroLat = latSum / coordenadas.length;
            const centroLng = lngSum / coordenadas.length;

            // Ajusta el centro y el zoom
            detail.map.setView([centroLat, centroLng]);

            // Calcula el nivel de zoom necesario para que todas las coordenadas sean visibles
            const bounds = new L.LatLngBounds();
            let mlat;
            let mlng;
            let marker;
            {% for rest in guide.restaurants.all %}
                mlat =  {{ rest.get_position_wgs84.1 |floatformat:"-18"|parse_float_to_str }};
                mlng = {{ rest.get_position_wgs84.0 |floatformat:"-18"|parse_float_to_str }};
                marker = L.marker({'lat': mlat, 'lon': mlng}, {icon: restIcon})
                  {% if card.image_header %}
                    .bindPopup(gencard('{{ rest.name }}', '{{ rest.image_header.url|media }}', '{{ rest.get_absolute_url }}'));
                  {% else %}
                    .bindPopup(gencard('{{ rest.name }}', '{{ rest.posts.first.content|first_img|media }}', '{{ rest.get_absolute_url }}'));
                  {% endif %}
                marker.addTo(detail.map);
                bounds.extend([mlat, mlng]);
            {% endfor %}

            detail.map.fitBounds(bounds);
        }, false);
  //initMap();
</script>
  <script src="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}"
        type="text/javascript"></script>
{% endblock javascript %}

{% block css %}
    {{ block.super }}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% leaflet_css %}
    <link href="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
{% endblock css %}

{% block css_custom %}
<style>
.text-white {
    color: white;
}
html {
    scroll-behavior: smooth;
}
</style>
{% endblock css_custom %}
