{% extends "blog/wpfamily/base.html" %}
{% load envelope_tags crispy_forms_tags %}

{% block content %}

    {% if messages %}
        <!--div class="messages"-->
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable fade in"{% endif %}
                role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        <!--/div-->
    {% endif %}
    <article id="contact" style="background-color: transparent;"
     class="post-1 post type-post hentry ">
        <div class="article-padding has-family-list">
            <header class="entry-header">
                <h2 class="entry-title"><a href="#" rel="bookmark">Contacta con el blog Ojoalplato</a></h2>
            </header>

            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {% antispam_fields %}
                {% crispy form %}
            </form>
        </div>
    </article>
{% endblock content %}
