{% load card_tags likert_bs_stars %}

<figure class="mini-card-header">
    Ficha de cata
</figure>
<div class="mini-card ribbon-wrapper">
    <div class="row">
        <div class="col-md-12">
                <h4><a href="{{ wine.get_absolute_url }}" >{{ wine.name }} {% if wine.year %}({{ wine.year }}){% endif %}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4>Visual&nbsp;{{ wine.get_view_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_limpidez %}
                    <tr>
                        <th scope="row" class="col-xs-4">Limpidez</th>
                        <td>{{ wine.get_cata_limpidez_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_intensidad %}
                    <tr>
                        <th scope="row" class="col-xs-4">Intensidad</th>
                        <td>{{ wine.get_cata_intensidad_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_blanco %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_blanco_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_rosado %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_rosado_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_tinto %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_tinto_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_fluidez %}
                    <tr>
                        <th scope="row" class="col-xs-4">Fluidez</th>
                        <td>{{ wine.get_cata_fluidez_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_efervescencia %}
                    <tr>
                        <th scope="row" class="col-xs-4">Efervescencia</th>
                        <td>{{ wine.get_cata_efervescencia_display }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <h4>Olfativa&nbsp;{{ wine.get_smell_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_olf_1a %}
                    <tr>
                        <th scope="row" class="col-xs-4">1ª impresión</th>
                        <td>{{ wine.get_cata_olf_1a_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_olf_intensidad %}
                    <tr>
                        <th scope="row" class="col-xs-4">Intensidad</th>
                        <td>{{ wine.get_cata_olf_intensidad_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_olf_aroma_1 %}
                    <tr>
                        <th scope="row" class="col-xs-4">Aroma (Carácter) Primarios (cepa)</th>
                        <td>{{ wine.get_cata_olf_aroma_1_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_olf_aroma_2 %}
                    <tr>
                        <th scope="row" class="col-xs-4">Aroma (Carácter) Secundarios (fermentación)</th>
                        <td>{{ wine.get_cata_olf_aroma_2_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_olf_aroma_3 %}
                    <tr>
                        <th scope="row" class="col-xs-4">Aroma (Carácter) Terciarios (maduración)</th>
                        <td>{{ wine.get_cata_olf_aroma_3_display }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <h4>Gustativa&nbsp;{{ wine.get_taste_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_gust_ataque %}
                    <tr>
                        <th scope="row" class="col-xs-4">Ataque</th>
                        <td>{{ wine.get_cata_gust_ataque_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_dulzor %}
                    <tr>
                        <th scope="row" class="col-xs-4">Dulzor</th>
                        <td>{{ wine.get_cata_gust_dulzor_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_alcohol %}
                    <tr>
                        <th scope="row" class="col-xs-4">Alcohol</th>
                        <td>{{ wine.get_cata_gust_alcohol_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_acidez %}
                    <tr>
                        <th scope="row" class="col-xs-4">Acidez</th>
                        <td>{{ wine.get_cata_gust_acidez_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_tanino %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tanino</th>
                        <td>{{ wine.get_cata_gust_tanino_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_cuerpo %}
                    <tr>
                        <th scope="row" class="col-xs-4">Cuerpo</th>
                        <td>{{ wine.get_cata_gust_cuerpo_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_boca %}
                    <tr>
                        <th scope="row" class="col-xs-4">Paso en boca</th>
                        <td>{{ wine.get_cata_gust_boca_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_persistencia %}
                    <tr>
                        <th scope="row" class="col-xs-4">Persistencia</th>
                        <td>{{ wine.get_cata_gust_persistencia_display }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
