{% load card_tags likert_bs_stars %}

<figure class="mini-card-header">
    Ficha de cata
</figure>
<div class="mini-card ribbon-wrapper">
    <div class="row">
        <div class="col-md-12">
                <h4><a href="{{ wine.get_absolute_url }}" >{{ wine.name }} {% if wine.year %}({{ wine.year }}){% endif %}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4>Visual&nbsp;{{ wine.get_view_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_aspecto %}
                    <tr>
                        <th scope="row" class="col-xs-4">Aspecto</th>
                        <td>{{ wine.get_cata_aspecto_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_capa %}
                    <tr>
                        <th scope="row" class="col-xs-4">Capa</th>
                        <td>{{ wine.get_cata_capa_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_blanco %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_blanco_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_rosado %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_rosado_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_color_tinto %}
                    <tr>
                        <th scope="row" class="col-xs-4">Tonalidades del color</th>
                        <td>{{ wine.get_cata_color_tinto_display }}</td>
                    </tr>
                {% endif %}
                {%  if wine.cata_ribete %}
                    <tr>
                        <th scope="row" class="col-xs-4">Ribete</th>
                        <td>{{ wine.get_cata_ribete_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_fluidez %}
                    <tr>
                        <th scope="row" class="col-xs-4">Fluidez</th>
                        <td>{{ wine.get_cata_fluidez_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_efervescencia %}
                    <tr>
                        <th scope="row" class="col-xs-4">Efervescencia</th>
                        <td>{{ wine.get_cata_efervescencia_display }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <h4>Olfativa&nbsp;{{ wine.get_smell_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_olf_intensidad %}
                    <tr>
                        <th scope="row" class="col-xs-4">Intensidad aromática</th>
                        <td>{{ wine.get_cata_olf_intensidad_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_olf_aroma %}
                    <tr>
                        <th scope="row" class="col-xs-4">Aroma</th>
                        <td>{{ wine.get_cata_olf_aroma_display }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <h4>Gustativa&nbsp;{{ wine.get_taste_icon|safe }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-condensed font-size-16">
                <tbody>
                {% if wine.cata_gust_ataque %}
                    <tr>
                        <th scope="row" class="col-xs-4">Ataque</th>
                        <td>{{ wine.get_cata_gust_ataque_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_sensacion %}
                    <tr>
                        <th scope="row" class="col-xs-4">Sensación</th>
                        <td>{{ wine.get_cata_gust_sensacion_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_persistencia %}
                    <tr>
                        <th scope="row" class="col-xs-4">Persistencia</th>
                        <td>{{ wine.get_cata_gust_persistencia_display }}</td>
                    </tr>
                {% endif %}
                {% if wine.cata_gust_valoracion %}
                    <tr>
                        <th scope="row" class="col-xs-4">Valoración</th>
                        <td>{{ wine.get_cata_gust_valoracion_display }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
