<!DOCTYPE html>
<!--
	Metronic by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US">  <!--<![endif]-->
<head>

<!-- META DATA -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- Title -->
<title>Próximamente...</title>


<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/static/maintenance/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/maintenance/css/style.css" >

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/ionicons.min.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/flexslider.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/owl.theme.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/vegas.min.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/menu.css" />
<link rel="stylesheet" type="text/css" href="/static/maintenance/css/sidebar.css" />

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS -->
<script type="text/javascript" src="/static/maintenance/js/modernizr.js"></script>
<script type="text/javascript" src="/static/maintenance/js/snap.svg-min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://webnextbd.net/demo/js/respond.min.js"></script>
<![endif]-->

<!--[if lt IE 11]>
<link rel="stylesheet" type="text/css" href="http://webnextbd.net/demo/css/ie.css">
<![endif]-->

</head>
<body class="image-background">

<!-- Overlay -->
<div id="section-home" class="home-section-wrap center">
<div class="section-overlay"></div>
</div>
<!-- /Overlay -->

<!-- container -->
<div class="containers">

<!-- main -->
<div class="main">
<!-- header -->
<header class="header-site">
<div class="logo-site animated bounceInDown" data-animation-delay="700">
<img class="img-responsive" src="/static/wpfamily/img/logo2_white.png" alt="Logo" style="height: 200px;"/>
</div>
</header>
<!-- /header -->

<!-- section -->
<section class="section fullscreen site-main">
<div class="container-section">
<div class="container-table">
<div class="content-table">
<!-- bt-carousel -->
<div class="bt-carousel">

<!-- home section -->
<div class="item-slide show">
<!-- container -->
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<!-- content slide -->
<div class="content-slide">
<!-- Clock Countdown -->
<div id="clock-countdown" class="animated bounceInDown" data-animation-delay="700"></div>
<h3 class="color-white top-margin animated bounceInDown" data-animation-delay="700" >Algo nuevo se está cocinando en Ojoalplato.<br>
Vuelve el próximo día 15 a las 19:00 y descúbrelo...</h3>


<!-- socials icons -->
<nav class="socials-icons animated bounceInUp" data-animation-delay="700">
<ul>
<li><a href="https://www.facebook.com/ojoalplato"><i class="ion-social-facebook"></i></a></li>
<li><a href="https://twitter.com/ojoalplato"><i class="ion-social-twitter"></i></a></li>
</ul>
</nav><!-- /socials icons -->

<!-- copyright -->
<footer class="copy-right animated bounceInUp" data-animation-delay="700">
<div class="copyright">
© 2017 <a href="http://www.ojoalplato.com">Ojoalplato</a>
</div>
</footer><!-- /copyright -->

</div><!-- /content slide -->
</div>
</div><!-- /row -->
</div><!-- /container -->
</div>
<!-- /home section -->

</div><!-- /bt-carousel -->
</div>
</div>
</div>
</section><!-- /section -->
</div><!-- /main -->
</div><!-- /container -->

<!-- JS -->
<script type="text/javascript" src="/static/maintenance/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/retina.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.parallaxify.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.particleground.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/vegas.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/trianglify.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/maintenance/js/jquery.appear.js"></script>
<script type="text/javascript" src="/static/maintenance/js/classie.js"></script>
<script type="text/javascript" src="/static/maintenance/js/sidebar.js"></script>
<script type="text/javascript" src="/static/maintenance/js/main.js"></script>

</body>
</html>
