{% load content_filters %}

<script type="application/javascript">
    var disqus_config = function () {
        {% if url %}
        this.page.url = '//ojoalplato.com{{ url|escape_slash }}';
        {% else %}
        this.page.url = '//ojoalplato.com/archivos/'{{ object.id }} + "/";
        {% endif %}
        this.page.title = '{{ object.title }}';
    };
</script>
<div id="disqus_thread"></div>
<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

    var disqus_config = function () {
        {% if url %}
        this.page.url = "http:\/\/nuevo.ojoalplato.com\/{{ url|escape_slash }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ object.id }} http:\/\/www.ojoalplato.com{{ url|escape_slash }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        {% else %}
        this.page.url = "http:\/\/nuevo.ojoalplato.com\/archivos\/{{ object.id }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ object.id }} http:\/\/www.ojoalplato.com\/?p={{ object.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        {% endif %}
        this.page.title = "{{ object.title }}";
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//ojoalplato.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
